

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
</head>
<body>
    @*start body*@
    <section>
        <<center>
            <div class="mt-2 bg-warning y p-5 w-75">
                <h1>Welcome To Privacy Page</h1>
                <p>Route Academy</p>
            </div>
        </center>
    </section>
    @*end body*@
</body>
</html>
